<!DOCTYPE html>
<html lang="en">
<head>
  <title>Justin's portfolio</title>
  <link href="../css/materialize.min.css" type="text/css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" />
  <link href="../css/app.css" type="text/css" rel="stylesheet" />
</head>

<nav style="background-color: #424242">
  <div class="container">
    <div class="nav-wrapper">
      <a href="index.html" style="font-family: 'Pacifico', cursive;" class="brand-logo left">Justin Dreher | Web Developer</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="{% if page.url == '/projects.html' %}active{% endif %}"><a href="projects.html" >My Projects</a></li>
        <li class="{% if page.url == '/about.html' %}active{% endif %}"><a href="about.html#acc1" >About Me</a></li>
        <li class="{% if page.url == '/contact.html' %}active{% endif %}"><a href="contact.html" >Contact Me</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li class="{% if page.url == '/projects.html' %}active{% endif %}"><a href="projects.html" >My Projects</a></li>
        <li class="{% if page.url == '/about.html' %}active{% endif %}"><a href="about.html#acc1" >About Me</a></li>
        <li class="{% if page.url == '/contact.html' %}active{% endif %}"><a href="contact.html" >Contact Me</a></li>
      </ul>
    </div>
    </div>
  </nav>
<div class="container">
{{content}}
</div>


<script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
<script src="../js/materialize.min.js" type="text/javascript"></script>
<script src="../js/materialize.js" type="text/javascript"></script>
<script src="../js/init.js" type="text/text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js" type="text/javascript"></script>
<script>
  particlesJS.load('particles-js', '../assets/particles.json', function(){
    console.log('particles.json loaded');
  });
</script>
</html>
