<!DOCTYPE html>
<html lang="en">
<head>
  <title>Justin's portfolio</title>
  <link href="../css/materialize.min.css" type="text/css" rel="stylesheet" />
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" />
</head>

<nav style="background-color: #616161">
    <div class="nav-wrapper">
      <div class="container">
      <a href="index.html" class="brand-logo left">Justin Dreher | Web Developer</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="{% if page.url == '/projects.html' %}active{% endif %}"><a href="{{site.baseurl}}/projects.html" >My Projects</a></li>
        <li class="{% if page.url == '/about.html' %}active{% endif %}"><a href="{{site.baseurl}}/about.html" >About Me</a></li>
        <li class="{% if page.url == '/contact.html' %}active{% endif %}"><a href="{{site.baseurl}}/contact.html" >Contact Me</a></li>
      </ul>
      </div>
    </div>
  </nav>
<div class="container">
{{content}}
</div>

<div class="footer">
  <div class="container">
  <hr />
  <p class="center-align">&copy; 2017 Made In Alfred</p>
</div>
</div>

<script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
<script src="../js/materialize.min.js" type="text/javascript"></script>
<script src="../js/materialize.js" type="text/javascript"></script>
<script src="../js/particles.js" type="text/javascript"></script>
<script src="../js/particles.min.js" type="text/javascript"></script>
<script src="../js/init.js" type="text/text/javascript"></script>

<script>
  particlesjs.load('particles-js',
  'particles.json', function(){
      console.log('particles.json loaded');
  });
</script>
</html>
